<% include partials/header.ejs %>



 <form  action="/blogs/<%= blogId %>/comments/<%=comment._id%>?_method=PUT" method="POST">>
  <div class="container">
   <div class="form-group  w-50 mx-auto">
    <label for="exampleFormControlInput1">NAME</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=comment.author.username%>" name="comment[author]">
    <label for="exampleFormControlTextarea1">Comment textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment[text]"><%=comment.text%></textarea>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
   
 </div>
 </form>

<% include partials/footer.ejs %>